*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Lato", sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* header */

.header{
    padding: 17px 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
}

.header__link{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}

.header__item{
    margin-right: 70px;
}

.btn{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    background-color: #01996D;
    padding: 13px 50px;
    border-radius: 4px;
}

.btn_white{
    color: #000;
    background-color: #fff;
}

/* main */

.main{
    background: url("../img/photo_4_2024-09-06_01-14-13.jpg") no-repeat center center / cover;
    height: 90vh;
    padding: 170px;
}

.main__info{
    max-width: 440px;
    display: flex;
    flex-direction: column;
}

.main__text{
    color: #484848;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 55px;
}
.main__title{
    color: #01996D;
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 30px; 
}

/* Steps */

.steps{
    padding: 169px 0 255px 0;
}

.steps__subtitle{
    color: #424242;
    font-weight: 700;
    font-size: 24px;
}

.steps__title{
    color: #01996D;
    font-weight: 900;
    font-size: 50px;
    max-width: 584px;
}
.steps__text{
    color: #424242;
    font-size: 20px;
    margin-bottom: 60px;
    font-weight: 670;
}

.steps__blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
}

.steps__card-title{
    color: #000;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 55px;
}

.steps__card{
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__row{
    display: flex;
    justify-content: space-between;
}

.steps__pic img{
    border-radius: 12px;
}

.story{
    background-color: #245852;
    padding: 229px 0px 177px;
}
.story__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story__info{
    max-width: 580px;
    margin-right: 30px;
}

.story__title {
    color: #ffffff;
    font-weight: 900;
    font-size: 5px;
}
.story__subtitle{
        color: #ffffff;
        font-weight: 600;
        font-size: 25px;
        margin-top: 33px;
        margin-bottom: 57px;
    }
    .story__btn {
        display: flex;
        align-items: center;
    }

    
